// Default parameters
params {
  //Input
  genome = "$baseDir/test/ebola_ref.fasta" // genome
  reads1 = "$baseDir/test/ebola_mut_reads1.fq" // reads1
  reads2 = "$baseDir/test/ebola_mut_reads2.fq" // reads2
  //Options
  threads = 4 // number of threads
  sa = 6 // SA index number of bases
  rgid = "445_RG"
  rglb = "445_LB_PAIRED"
  rgpl = "ILLUMINA"
  rgsm = "ebola"
  rgpu = "NONE"
  //Output
  outdir = "$baseDir/results" // output directory
  //Pipeline version
  version = "0.0.2"
  //Requirements
  nf_required_version = "0.30.0"
  container = "ebola_nextflow:latest"
}

// Nextflow profiles
profiles {
  conda {
    process.conda = "$baseDir/environment.yml"
  }
  docker {
    docker.enabled = true
  }
  singularity{
    singularity.enabled = true
  }
}
